@import '../../css/constants.scss';

.Menu {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    display: flex;
    justify-content: space-between;
}

 li {
     text-decoration: none;
     font-family: $text_font;
     color: $sec_color;
     font-size: 24px;
 }

 li a{
     text-decoration: none;
 }

 ul a {
     text-decoration: none;
 }