@import '../../css/constants.scss';

.Title {
    display: flex;
    justify-content: center;
    font-family: $text_medium;
    color: $main_color;
    font-size: 40px;
    margin-right: 40px;
    margin-left: 40px;
}