@import './constants.scss';

.Card {
    max-width: 350px;
    max-height: 415px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Image {
    color:$white;
    background-color: $sec_color;
    border: 4px solid $main_color;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.1;
}

.TitleCard {
    color: $main_color;
    font-family: $text_light;
    font-size: 36px;
}