@font-face {
    font-family: 'SF-Regular';
    src: url('../../fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: 'SF-Light';
    src: url('../../fonts/SF-Pro-Text-Light.otf');
}

@font-face {
    font-family: 'SF-Medium';
    src: url('../../fonts/SF-Pro-Text-Medium.otf');
}

@font-face {
    font-family: 'SF-Bold';
    src: url('../../fonts/SF-Pro-Text-Bold.otf');
}

$main_color :#8059FA;
$sec_color:#A094F2;
$light_color: #D7D6F5;
$bg_color: #FAFAFD;
$white: #FFFFFF;
$black:#000000;
$text_font: 'SF-Regular';
$text_light: 'SF-Light';
$text_medium: 'SF-Medium';
$text_bold: 'SF-Bold';