.Container{
    display: flex;
    flex-flow: row wrap;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    //width:100%;
    justify-content: center;
}